<nav
  class="navbar"
  (scroll)="onscroll()"
  [ngClass]="navbarfixed ? 'fixed' : 'nofixed'"
>
  <app-header></app-header>
</nav>

<div class="container">
  <div class="search-bar">
    <input
      type="text"
      [formControl]="searchControl"
      placeholder="Search..."
      class="form-control form"
    />
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th class="number"></th>
        <th class="name">Name</th>
        <th class="address">Address</th>
        <th class="date">Date</th>
        <th class="edit"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders; let i = index">
        <td class="number">{{ i + 1 }}</td>
        <td class="name">{{ order.name }}</td>
        <td class="address">{{ order.address }}</td>
        <td class="date">{{ order.date | date : "dd.MM.yyyy." }}</td>
        <td class="edit"><span class="edit-text" (click)="updateOrder(i)">edit</span></td>
        <td class="delete"><span class="delete-text" (click)="delete(i)">delete</span></td>
      </tr>
    </tbody>
  </table>
</div>
