* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.search-bar {
  margin-top: 40px;
  margin-bottom: 30px;
  .form {
    padding: 5px;
  }
}

table {
  width: 100%;
}

.number {
  width: 5%;
}

.name {
  width: 30%;
}

.address {
  width: 35%;
}

.date {
  width: 16%;
}

.preview {
  width: 3%;
  text-align: center;
}

.edit {
  width: 3%;
  color: rgb(35, 83, 196);
  text-align: center;
}

.delete {
  width: 3%;
  color: red;
  text-align: center;
}
