<div class="container">
  <div class="search-bar">
    <input type="text" [formControl]="searchControl" placeholder="Search..." class="form-control form" />
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th class="number"></th>
        <th class="name">Name</th>
        <th class="address">Address</th>
        <th class="date">Date</th>
        <th class="preview"></th>
        <th class="edit"></th>
        <th class="delete"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders; let i = index">
        <td class="number">{{ i + 1 }}</td>
        <td class="name">{{ order.name }}</td>
        <td class="address">{{ order.address }}</td>
        <td class="date">{{ order.date | date : "dd.MM.yyyy." }}</td>
        <td class="preview"><i class="bi bi-eye" style="cursor:pointer;" (click)="preview(i)"></i></td>
        <td class="edit"><i class="bi bi-pencil" style="cursor:pointer;" (click)="edit(i)"></i></td>
        <td class="delete"><i class="bi bi-trash" (click)="delete(i)" style="cursor:pointer; margin-right: 10px;"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>