* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.btn-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn {
  background-color: rgb(35, 83, 196);
  padding: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-color: rgb(35, 83, 196);
}

.form {
  padding: 5px;
  margin-bottom: 20px;
}

table {
  width: 100%;
}

.number {
  width: 5%;
}

.type {
  width: 25%;
}

.title {
  width: 25%;
}

.quantity {
  width: 15%;
  text-align: center;
}

.price {
  width: 10%;
  text-align: center;
}

.edit {
  width: 10%;
  color: rgb(35, 83, 196);
  text-align: end;
}

.delete {
  width: 10%;
  color: red;
  text-align: center;
}
