version: "3.9"

services:
  backend:
    build: ./ECommerce
    container_name: ecommerce-backend
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/ecommerce
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: password
    volumes:
      - uploads-volume:/app/uploads

  frontend:
    build: ./ECommerce-FE
    container_name: ecommerce-frontend
    ports:
      - "4200:80"
    depends_on:
      - backend

  db:
    image: postgres:14
    container_name: ecommerce-db
    environment:
      POSTGRES_DB: ecommerce
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
  uploads-volume:
