* {
  margin: 0px;
  padding: 0px;
}

.container {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 40px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 40px;
}

.icons i {
  font-size: 22px;
}

.cartStatus {
  position: absolute;
  margin-top: 20px;
  background-color: gold;
  color: black;
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 12px;
}

.admin {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  .caret {
    margin-left: 10px;
  }
}

.administrator {
  cursor: pointer;
}

i {
  cursor: pointer;
}

.login-form {
  width: 250px;
  height: 220px;
  padding: 15px;
  margin-top: 50px;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  font-size: small;
  right: -50px;
  box-shadow: 5px 5px 20px #383838;
}

.form-group {
  margin-top: 10px;
}

label {
  font-weight: bold;
}

.form {
  padding: 5px;
}

.btn-container {
  position: relative;
  .btn {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: small;
    padding: 5px;
  }
  .error {
    position: absolute;
    top: 20px;
    right: 0px;
    color: red;
  }
}

.custom-table td {
  border: none;
  padding: 10px;
  cursor: pointer;
}

.custom-table-container {
  position: absolute;
  top: 50px;
  right: -50px;
  width: 160px;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 2px 2px 10px gray;
  background-color: white;
  z-index: 1000;
}
