* {
  margin: 0;
  padding: 0;
}

.title {
  padding-top: 30px;
  padding-left: 100px;
  margin-bottom: 30px;
  font-size: 40px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.left {
  width: 550px;
  float: left;
}

.form-group {
  width: 550px;
  padding: 10px;

  float: left;

  input {
    padding: 5px;
  }
}

.btn-container {
  padding: 10px;
}

.btn {
  margin-top: 20px;
  padding: 5px;
  background-color: rgb(35, 83, 196);
}

.right {
  width: 550px;
  float: right;
}

.table-container {
  padding: 20px;
  border: 1px solid rgb(204, 203, 203);
  border-radius: 5px;
}

.title-of-orders {
  font-size: 30px;
  padding-left: 10px;
  border: none;
}

table {
  border-collapse: separate;
}

.price {
  text-align: right;
}

.received {
  padding: 10px;
}
