* {
  margin: 0;
  padding: 0;
}

.container {
  position: fixed;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  top: 150px;
  transform: translateY(-10%);
  background-color: white;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1), 0 0 60px rgba(0, 0, 0, 0.2);
}

h3 {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.form {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.btn {
  background-color: rgb(35, 83, 196);
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-color: rgb(35, 83, 196);
  margin-top: 20px;
}

.cancel {
  background-color: #e0e0e0;
  color: #333;
  border-color: #e0e0e0;
  float: right;
  z-index: 1000;
}
