* {
  margin: 0;
  padding: 0;
}

.custom-table td {
  border: none;
  padding: 5px;
}

.container {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  position: fixed;
  top: 90px;
  transform: translateY(-10%);
  background-color: white;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1), 0 0 60px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 100000;
}

th {
  border-bottom: 1px solid gray;
}

.spacer-row {
  height: 7px;
}

table tr {
  height: 30px;
}

.product {
  width: 33%;
}

.quantity {
  text-align: center;
}

.btn-container {
  float: right;
  z-index: 1000;
}

.btn-cancel {
  background-color: #e0e0e0;
  color: #333;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  border-color: #e0e0e0;
}
