* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  margin-top: 60px;
}

.left {
  position: fixed;
  flex: 0 0 auto;
  width: 20%;
  top: 112px;
}

.custom-table td {
  padding: 15px;
  cursor: pointer;
}

.custom-table td:hover {
  background-color: rgb(35, 83, 196);
  color: white;
}

.custom-table-container {
  border: 1px solid gray;
  border-radius: 7px;
}

.bordered {
  border-top: 1px solid gray;
}

.first_element {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.last_element {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.right {
  position: relative;
  width: 80%;
  flex: 1 1 auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 25%;
}

.gridContainer .divForBoxes {
  display: inline-block;
}
