* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgb(204, 204, 204);
  z-index: 1000;
}

.content {
  margin-top: 50px;
  padding: 20px;
}

.header-container {
  width: 100%;
}
